  @import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');



.padre{
  display:flex;
  justify-content: center;
  margin:0px;
  padding: 0px;
  
}
.form{font-family: 'Rubik Iso', cursive;
    margin:10vh;
    display:flex;
    flex-direction: column;
   align-items: center;
   background-image: url("../../assets/background.gif");
 
    width: fit-content;
    padding: 2em 2em 5em 2em;
    border-style: ridge;
    border-color: chartreuse;
    border-width: 0.6em;
    font-weight: 600;
    position: fixed;
}

.p{
    color: red;
}

.boton{
  width: 5em;
  margin-top: 5em;
  border-style: groove;
  border-color: chartreuse;
  border-width: 0.5em;
}

.img{
 position:absolute;
  left: 0px;
  top:0px;
  animation:mianimacion1 6s  ease 0s  infinite  normal forwards;
  z-index: -2;
  height: 4em;
}

@keyframes mianimacion1 { 
   
  20% { 
  left:10em;
  top:50vh;
  } 
 40%{ top:5vh;
      left: 50vh;
      height: 30vh;
  }
  60%{
    left:90vh;
    top:60vh;
    z-index: 2;
    background-color: black;
    border-radius: 100%;
  }
  80%{
    right:0vh;
    bottom:0vh;
    z-index: -2;
  }
 } 

 .img2{
  position:absolute;
  background-color: black;
  border-radius: 100%; border-style: groove;
  border-color: chartreuse;
  border-width: 0.5em;
  transform: rotate(50deg); 
   
  height: 50vh;
  animation:mianimacion2 6s  ease 0s  infinite  normal backwards;
 }

 @keyframes mianimacion2 { 
  20%{
    transform: rotate(100deg); 
   
    height: 50vh;
  }

  40%{
    transform: rotate(150deg); 

    height:40vh;
  }
  60%{
    transform: rotate(200deg); 

    height:30vh;
  }
  80%{
    transform: rotate(250deg); 

    height:20vh;
  }
  100%{
    transform: rotate(300deg); 

    height:10vh;
  }
 }

 .time{
  display: none;
 }

 

